{% set title = blog_post['title'] %}
{% set subtitle = blog_post['subtitle'] %}
{% include 'header.html' %}
    <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{blog_post['body']}}</p>

                    </div>
                </div>
            </div>
        </article>
{% include 'footer.html' %}