<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Hayes | Programmer | mail@mail.com </title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/css/circled-e.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monoton&display=swap" rel="stylesheet">
</head>
<body>
    <div class="parent main-container">
        <div id="outer-wrapper">
            <div class="container">
                <img src="static/images/edward_hayes-modified.png" alt="edward profile picture" width="400" height="400">
            </div>
            <div id="title">
                <div class="container about">
                    <h1>Edward James Hayes</h1>
                    <h2>Manager, Support Escalations</h2>
                </div>
                <div class="container about">
                    Hello! I'm a manager of technical escalations for LightSpeed Commerce, Inc. LightSpeed Retail Products, ShopKeep (S-Series) and Vend (X-Series). I focus on merchant-reported bug triage, as well as training and documentation for new features. I have skills in python, sql, and the command line.
                </div>
                <div class="container about">
                    <h2>Contact Me</h2>
                    <div id="link-box">
                    <a href="www.google.com"><div class="button">Download Resume</div></a>
                    <a href="mailto:mail@mail.com"><div class="button">Email</div></a>
                    <a href="https://github.com/edward-hayes"><div class="button">GitHub</div></a>
                    <a href="https://www.linkedin.com/in/edward-james-hayes/"><div class="button">LinkedIn</div></a>
                    <a href="https://www.codewars.com/users/curiosior"><div class="button">CodeWars</div></a>
                    <a href="https://stackoverflow.com/users/3709041/curios"><div class="button">StackExchange</div></a>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <div class = "parent" id="divider"><hr id="hr-left"><span id="symbol-center">⬦</span><hr id="hr-right"></div>
    <div class="parent" id="bottom">
        <div class="main-container">
        <h2>Education</h2>
            <div class="sidebar container">
            <h3>University of Wisconsin</h3>
            Bachelor of Science in Physics, Astronomy & Mathematics
            <span class="class">Class of 2012</span>
            </div> 
        <h2>Skills</h2>
            <div class="sidebar container">
            Skills Matrix
            </div>
        <h2>Course Work</h2>
        <div class="sidebar container">
            List of courses
        </div>            
        <h2>Hobbies</h2>
        <div class="sidebar container">
            Hobbies
            Running (<a href="https://shar.es/affvL5">completed marathon</a>), Woodworking (made own furniture)
            Brewing Beer
            Pretty much anything Science Fiction
            Arch Linux user since 2013
        </div>                
        </div>
        <div class="history main-container">
            <h2>Work Experience</h2>
            <div class="container"><h3>Manager,  Support Escalations</h3>
                LightSpeed Commerce Inc | Jan 2022 - Present
            </div>
            <div class="container"><h3>Tech Lead</h3>
                LightSpeed Commerce Inc | Nov 2020 - Jan 2022
                <ul>
                    <li>Identified root cause of Single Register Ghost Checks, one of the oldest issues facing the register. Subject tag use of this issue was nearly 1500</li>
                    <li>Greatly increased tracking and visibility of app crash behavior. Identified steps to replicate of two major issues</li>
                </ul>
            </div>
            <div class="container"><h3>Senior Technical Support Specialist</h3>
                ShopKeep POS | Mar 2020 - Nov 2020
                <ul>
                    <li>Identified an issue affecting over 800 merchants, with only 7 merchant reports. We were able to resolve before it escalated.</li>
                    <li>Was an essential participant in the adoption of Saved Sale/ eCommerce Sync. Many merchants adopted this new feature during the pandemic. From early release, interviewed merchants, replicated and tested behaviors and submitted several tickets for improvement. Filled knowledge gaps within care so we can better assist merchants setting up these features. Met with engineering team twice to discuss ongoing issues and prioritize fixes/ feature requests.</li>
                </ul>
            </div>
            <div class="container"><h3>Customer Care Advisor, QA & Beta Hybrid</h3>
                ShopKeep POS | Aug 2019 - Mar 2020
                <ul>
                    <li>Initially a part-time position, promoted to full time QA/Beta support within 2 weeks</li>
                    <li>Reduced SLA on common escalations (Setup Issues, Gift Card Processing Errors, etc)</li>
                    <li>Developed method to transfer matrix/variant items between locations, which improved MRR & retention for additional locations & business owner transfers</li>
                </ul>
            </div>            
            <div class="container"><h3>Customer Care Advisor</h3>
                ShopKeep POS | Jan 2019 - Aug 2019
                <ul>
                    <li>CSTAT of 4.21 (92% percentile)</li>
                    <li>Won the “Fly Away Contest” - yearly competition among care advisors. Compete in CSTAT, product knowledge, and up-sells. Winner is flown to New York to meet engineers</li>
                </ul>
            </div>
            <div class="container"><h3>Tasting Room Manager, Research & Developement</h3>
                Twisted Path Distillery. | Oct 2017 - Aug 2018
                <ul>
                    <li>Led a team of professional bartenders to develop avant-garde techniques and unique cocktails.</li>
                    <li>Used scientific method to repeatedly test new recipes and develop flavors</li>
                    <li>Set work schedules, planned and printed a bi-monthly cocktail menu, maintained staff, ordered supplies & fresh produce, researched new vendors, implemented cost-saving measures, and other general management responsibilities.</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<!-- tags for bots: selenium, python, tkinter, sql, postgres, looker, SalesForce, Appium, Slack,  -->

