{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
      <thead>
        <tr>
          <th scope="col">Cafe name</th>
          <th scope="col">Location</th>
          <th scope="col">Open</th>
          <th scope="col">Close</th>
          <th scope="col">Coffee</th>
          <th scope="col">Wifi</th>
          <th scope="col">Power</th>
        </tr>
      </thead>
      <tbody>
        {% for cafe in cafes[1:]: %}
        <tr>
          <th scope="row">{{ cafe[0] }}</th>
            <td><a href="{{ cafe[1] }}">Map Link</a></td>
          {%for cell in cafe[2:7]: %}
            <td>{{ cell }} </td>
          {% endfor%}
        {% endfor %}
  	  </table>


      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
