{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Add Review{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading">Add a Review for {{movie['title']}}</h1>
    <div class ="row">
      <div class="col-lg-6 col-md-6">
      <img src="https://image.tmdb.org/t/p/w185/{{movie['poster_path'] }}">
      </div>
      <div class="col-lg-6 col-md-6">
    {{ wtf.quick_form(form, novalidate=True)}}
      </div>
    </div>
</div>
{% endblock %}